extends layout

block content
  .w3-card-4 
    header.w3-container.w3-teal 
      h1 Distribuição Arbórea nalgumas freguesias portuguesas #{d}
    .w3-container 
      table.w3-table-all 
        tr 
          th _id
          th Freguesia
          th Espécie
          th Estado
          th Número de intervenções
        each p in plantas
          tr
            td
              a(href="/" + p._id)= p._id
            td=p.Freguesia
            td 
              a(href="/especies/" + p._id)= p.Espécie
            td=p.Estado
            td=p["Número de intervenções"]
